<h1>Fill in the form (all fields are mandatory):</h1>
<form id="Sign_up" action='/users/new' method='post'>
	<ul>
		<li><input type='text' name='email' placeholder="Email address"></li>
		<li><input type='password' name='password' placeholder="Password"></li>
		<li><input type='password' name='password_confirmation' placeholder="Confirm password"></li>
		<li><input type='text' name='name' placeholder="Name"></li>
		<li><input type='text' name='username' placeholder="Username"></li>
	</ul>
	<button>Sign up</button>
</form>