
<%if current_user %>
	<%= erb :peep_box %> 
<%end%>
<p id="latest_peeps">Latest Peeps:</p>
<ul id='peeps_list'>
	<%@peeps.each do |peep| %>
		<%= erb :posted_peep, :locals=>{:peep => peep} %>
	<%end%>
</ul>