Logged in as: <%=current_user.username%>
		<form action="/sessions" method="post">
			<input type="hidden" name="_method" value="delete">
			<button>Log out</button>
		</form>
		<form action='/peeps/post' method='post'>
			<input type="text" name="peep_title">
			<textarea maxlength="50" name="peep_text" >Your Peep</textarea>
			<button>Peep</button>
		</form>