<form id="Log in" action='/sessions' method='post'>
	<input type='text' name='username' placeholder='Username'>
	<input type='password' name='password' placeholder='Password'>
	<button>Log in</button>
	<a href='/users/new' >Not a memeber? Sign up! </a>
</form>
