<form id="Peep" action='/peeps/post' method='post'>
	<input type="text" name="peep_title" placeholder="Peep Title">
		<textarea maxlength="300" name="peep_text" placeholder="Your Peep"></textarea>	
		<button>Peep</button>
</form>