<form action='/peeps/post' method='post'>
	<section id="Peep">
		<input type="text" name="peep_title" placeholder="Peep Title">
		<textarea maxlength="50" name="peep_text" placeholder="Your Peep"></textarea>
		<button>Peep</button>
	</section>
	
</form>